<!-- templates/index.html -->
{{ define "index" }}
{{ template "template_start" . }}
<div class="row d-flex justify-content-center mt-5">
    <div class="col-8">
        <h2>Лэндосик</h2>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec sapien at odio vulputate
            semper quis id metus.
            Etiam sollicitudin augue vel lorem consequat, sit amet fringilla leo luctus. Vivamus
            facilisis, sapien in cursus
            bibendum, odio nibh gravida ante, et fermentum dui urna sit amet lacus. Integer laoreet
            molestie ullamcorper. Sed
            ultrices eget dolor at hendrerit. Vivamus feugiat mollis posuere. Sed nec sollicitudin orci,
            a fermentum quam.
            Vivamus consectetur ligula quis dapibus auctor. Donec a nisl at turpis accumsan mollis
            aliquam non neque. In et arcu
            neque. Donec sit amet finibus nunc. In ut mi iaculis, dapibus sapien vel, tincidunt orci.
            Vestibulum finibus arcu eu
            lacinia accumsan. Sed gravida posuere lectus, non molestie sapien viverra non. Nunc vehicula
            tincidunt tincidunt.
            Aliquam id finibus est, in dapibus eros.
        </div>
    </div>
</div>
{{ template "template_end" . }}
{{ end }}
