{{ define "changePassword" }}
{{ template "template_start" . }}
<div class="row d-flex justify-content-center mt-5">
    <div class="col-8">
        <h2>Изменить пароль</h2>
        {{ if .error }}
        <div class="alert alert-danger">
            {{ .error }}
        </div>
        {{ end }}
        <form method="post">
            <div class="form-group mt-2 mb-2">
                <label for="oldPassword">Старый пароль</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                       placeholder="Старый пароль" required>
                <small id="oldPasswordHelp" class="form-text text-muted">Введите старый пароль</small>
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="newPassword">Новый пароль</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword"
                       placeholder="Новый пароль" required>
                <small id="newPasswordHelp" class="form-text text-muted">Введите новый пароль</small>
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="newPassword2">Повторите новый пароль</label>
                <input type="password" class="form-control" id="newPassword2" name="newPassword2"
                       placeholder="Повторите новый пароль" required>
                <small id="newPassword2Help" class="form-text text-muted">Повторите новый пароль</small>
            </div>
            <button type="submit" class="btn btn-primary mt-2 mb-2">Изменить пароль</button>
        </form>
    </div>
</div>
{{ template "template_end" . }}
{{ end }}
